[submodule "submodule1"]
	path = submodule1
	url = https://github.com/CurcioDitavia/submodule1
	branch = dev
[submodule "another-submodule"]
	path = another-submodule
	url = https://github.com/CurcioDitavia/another-submodule
	branch = dev